<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error Handling in JavaScript</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
</head>
<body style="margin: 1em;">
    <h1>Error Handling in JavaScript</h1>

    <p>
        <button id="proper" class="btn btn-primary">Proper Handler</button>
        <button id="ugly" class="btn btn-warning">The Ugly</button>
        <button id="bad" class="btn btn-danger">The Bad</button>
        <button id="async" class="btn btn-secondary">Asynchronous</button>
    </p>

    <script src="/scripts/error.js"></script>
    <script src="/scripts/badHandler.js"></script>
    <script src="/scripts/uglyHandler.js"></script>
    <script src="/scripts/asyncHandler.js"></script>
    <script src="/scripts/errorHandler.dom.js"></script>
    <script src="/scripts/errorAjaxHandler.dom.js"></script>
    <script src="/scripts/badHandler.dom.js"></script>
    <script src="/scripts/uglyHandler.dom.js"></script>
    <script src="/scripts/properHandler.dom.js"></script>
    <script src="/scripts/asyncHandler.dom.js"></script>
</body>
</html>